.navbar {
    width: 100%;
    border-bottom: 4px solid #5352ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.navbar .header {
    width: 95%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 8px;
}

.header .logo {
    display: flex;
    font-size: 2em;
    font-weight: 600;
}

.header .collapse {
    display: flex;
    flex: 1;
}

.header .collapse .links {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
}

.header .collapse .links>li {
    padding: .3em 1em;
    border-radius: 4px;
    cursor: pointer;
}

.header .collapse .links>li:hover {
    background-color: #16a085;
    color: #f3f3f3;
}

.btns {
    display: flex;
    align-items: center;
}

.btns>button {
    display: block;
    margin-left: 1em;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btns>button.is-active {
    display: block;
    margin-left: 1em;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #16a085;
    cursor: pointer;
    color: #fff;
}



.navbar .header .logo label,
.navbar .header #change {
    display: none;
}

.navbar .header label {
    margin-left: auto;
    display: flex;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: .7rem .3rem;
    font-size: 14px;
    justify-content: center;
}

@media (max-width: 850px) {
    .navbar .header .logo {
        width: 100%;
        align-items: center;
        flex-direction: row;
    }

    .navbar .header .logo a {
        flex: 1;
        display: block;
    }

    .navbar .header {
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
    }

    .header .collapse {
        flex-direction: column;
    }

    .header .collapse .links {
        flex-direction: column;
        margin: 10px auto 10px 10px;
    }

    .header .collapse .links>li {
        flex: 1;
    }

    .navbar .header .logo label {
        display: block;
    }

    .navbar .header #change:checked+.collapse {
        display: none;
    }

}